<mat-card class="login-card">

    <mat-card-header>
        <mat-card-title>User access</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogIn()">

            <mat-form-field appareance="standard">
                <mat-label>Username</mat-label>
                <input formControlName="access_email" matInput placeholder="Username" type="email">
            </mat-form-field>

            <mat-form-field appareance="standard">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Password" type="password">
            </mat-form-field>

            <div class="card-buttons">
                <button mat-stroked-button color="primary" (click)="goToRegister($event)" >Register</button>
                <button mat-raised-button color="primary" type="submit" >Log In</button>
            </div>

        </form>
    </mat-card-content>

</mat-card>